body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* nav */
.logo {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1d809f;
  align-items: center;
  padding: 0 20px 0 20px; 
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 8px;
} 

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Header */
header {
  margin: 0 auto;
  text-align: center;
}
.header {
  position: relative;
  top: 35%;
}

.header h1 {
  margin: 0; 
  /* position: relative; */
  top: 40%;
  font-size: 3rem;
  color: rgb(33, 37, 41) 
}

.header p {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(33, 37, 41) 
}

.header button{
  font-weight: 700;
  box-shadow: 0 3px 3px 0 rgb(57, 57, 58);
  text-decoration: none;
  background-color: #1d809f;
  border-color: #1d809f;
  color: #fff;
  padding: 1.25rem 2.5rem;
}

.services {
  background-color: #1d809f;
  padding: 120px 0 120px 0;
  text-align: center;
}

.services > .row > 
.services h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(236,184,7);
  margin: 0;
  padding: 0;
}

.services h2 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 48px;
  margin-top: 0;
}

.row h4 {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 24px;
  color: #fff;
}

.row p {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 16px;
  color: #fff;
}

.row p ion-icon {
  color:red;
}

.services > .row {
  display: flex;
  justify-content: space-around;
}

.services > .row span {
  background-color: #fff;
  color: #1d809f;
  width: 112px;
  height: 112px;
  display: inline-block;
  border-radius: 50%;
  font-size: 36px;
  line-height: 120px;
}